@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,300;1,600&display=swap');
@import url('https://fonts.cdnfonts.com/css/bakso-sapi');
#root {
  margin: 0 auto;
  text-align: center;
}

#menu-icon {
  width: 16px;
  height: 16px;
  }

  
    @media only screen and (min-width: 768px) {
          .home--background{
            background-image: url("./assets/background/background.svg");
            background-size: cover;
          }
          
    }
    @media only screen and (max-width: 768px) {
      .home--background{
        background-image: url("./assets/background/background-mobile.svg");
        background-size: cover;
      }

        }

@font-face {
  font-family: Hey;
  src: url("./assets//fonts/Hey\ Comic.ttf");
}
.hey{
  font-family:'Bakso Sapi', sans-serif !important;; 
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.mathBg{
  background-image: url("./assets/background/background-chapitre-math.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.chapitrBg{
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CradialGradient id=%22b%22 r=%22100%25%22 cx=%2250%25%22 cy=%2250%25%22%3E%3Cstop offset=%220%25%22 stop-color=%22%23E4D466%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23dd613e%22%2F%3E%3C%2FradialGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M912.5 619.5q-83.5 119.5-178 216t-240 112q-145.5 15.5-272-69T68.5 647q-27.5-147 40-265T272 178.5q96-85.5 226-78T728 185q100 77 184 196t.5 238.5Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M912.5 619.5q-83.5 119.5-178 216t-240 112q-145.5 15.5-272-69T68.5 647q-27.5-147 40-265T272 178.5q96-85.5 226-78T728 185q100 77 184 196t.5 238.5Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  
  
}

table svg{
  font-size: 30px;
}